/* 手機格式 */

@media(min-width: 0px) {
    body {
        margin-top: 100px;
        background-color: rgb(255, 238, 143);
    }
    .header {
        display: flex;
        margin-top: -100px;
        position: fixed;
        width: 100vw;
        height: 100px;
        background-color: rgb(255, 238, 143);
        z-index: 100;
    }
    .logo img {
        display: block;
        width: 80px;
        height: 100px;
    }
    label img {
        height: 50px;
        position: fixed;
        top: 25px;
        right: 10px;
    }
    .warp {
        width: 100vw;
        height: 100%;
        background-color: rgb(255, 238, 143);
    }
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
    }
    .box {
        font-size: 18px;
        border: 2px black solid;
        border-radius: 5%;
        background-color: rgb(245, 202, 73);
        width: 90%;
        /* max-height: 250px; */
        text-align: center;
        line-height: 1.5em;
        margin: 3%;
        padding: 3%;
        /* overflow: auto; */
    }
    .box img {
        /* max-height: 12vw; */
        width: 80%;
    }
    .box button {
        margin: 5px
    }
    a {
        text-decoration: none;
    }
    .btt img {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 10px;
        bottom: 10px;
        border-radius: 100%;
    }
    footer {
        text-align: center;
    }
    #footer {
        width: 100%;
    }
}


/* 平板格式 */

@media(min-width: 500px) {
    body {
        margin-top: 100px;
    }
    .logo img {
        display: block;
        width: 80px;
        height: 100px;
    }
    label img {
        height: 60px;
        position: fixed;
        top: 20px;
        right: 10px;
    }
    #avglink {
        width: 50%;
    }
    .box {
        font-size: 22px;
        border: 2px black solid;
        border-radius: 5%;
        width: 40%;
        max-height: 300px;
        text-align: center;
        line-height: 1.5em;
        margin: 1%;
        padding: auto;
        /* overflow: auto; */
    }
    .box img {
        width: 80%;
    }
    #footer {
        height: 150px;
        width: 80%;
    }
}


/* 電腦格式 */

@media(min-width: 950px) {
    body {
        margin-top: 100px;
    }
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
    .logo img {
        display: block;
        width: 80px;
        height: 100px;
    }
    label img {
        height: 60px;
        position: fixed;
        top: 20px;
        right: 30px;
    }
    #avglink {
        width: 50%;
    }
    .box {
        width: 28%;
        font-size: 20px;
        border: 2px black solid;
        border-radius: 5%;
        max-height: 350px;
        text-align: center;
        line-height: 1.5em;
        margin: 1%;
        padding: 1%;
    }
    .box img {
        /* height: 8vw; */
        width: 65%;
    }
    #footer {
        height: 125px;
        width: 50%;
    }
}